/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@300;400;600;800&display=swap');

/* ============================= Variables ============================= */
:root {
  --font-normal: 300;
  --font-medium: 400;
  --font-bold: 600;
  --font-very-bold: 800;

  --primary-color: hsl(215, 51%, 70%);
  --secondary-color: hsl(178, 100%, 50%);
  
  --main-bg-color: hsl(217, 54%, 11%);
  --card-bg-color: hsl(216, 50%, 16%);
  --line-color: hsl(215, 32%, 27%);
  --bg-color: hsl(0, 0%, 100%);

  --body-font: 'Outfit', sans-serif;
  --xl-font-size: 1.5rem;
  --l-font-size: 1.25rem;
  --m-font-size: 1rem;
  --normal-font-size: 0.9rem;
  --s-font-size: 0.8rem;
  --xs-font-size: 0.75rem;

  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
}

/* ============================= INITIAL SETUP ============================= */

@media screen and (min-width: 768px) {
  :root{
    --xl-font-size: 2.25rem;
    --l-font-size: 1.5rem;
    --m-font-size: 1.25rem;
    --normal-font-size: 18px;
    --s-font-size: 0.875rem;
    --xs-font-size: 0.8rem;
  }
}

*,::before, ::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow: hidden;
  overflow-y: auto;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--bg-color);
  line-height: 1.6;
  color: black;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  overflow-y: auto;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1, h2 {
  font-weight: var(--font-bold);
  font-size: var(--xl-font-size);
}

h3, h4 {
  font-weight: var(--font-medium);
  font-size: var(--l-font-size);
}

h5 ,h6 {
  font-weight: var(--font-normal);
  font-size: var(--m-font-size);
}

p {
  font-weight: var(--font-normal);
  font-size: var(--normal-font-size);
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

img {
  max-width: 100%;
  height: auto;
  display:  block;
}

.container {
  max-width: 1440px;
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

/* ============================= HEADER ============================= */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-left: var(--mb-2);
}

.navbar-brand {
  letter-spacing: 1rem;
  color: white;
  font-size: calc(1.5*var(--xl-font-size));
}

.socials {
  display: flex;
}

.socials p {
  font-size: var(--l-font-size);
  margin-right: 3rem;
}

.socials a {
 color: white;
}

.socials a:hover {
  cursor: pointer;
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: translateY(-0.25em);
  color: orange;
}

/* ============================= HOMEPAGE ============================= */

/* BANNER */

.hero {
  margin-bottom: var(--mb-5);
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 0.98;
  font-family: 'Outfit', sans-serif;
  font-weight: var(--font-normal);
  margin-bottom: var(--mb-5);
  margin-top: var(--mb-4);
}

.banner-item-big {
  letter-spacing: 0.5rem;
  font-family: 'Cinzel', serif;
  font-weight: var(--font-very-bold);
  font-style: italic;
}

.banner-item-big > span {
  font-size: 6rem;
}

.banner-item-medium {
  font-size: calc(1.2*var(--l-font-size));
  font-weight: var(--font-bold);
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-style: italic;
  margin-bottom: var(--mb-1);
}

.banner-item-small {
  text-align: center;
  margin-bottom: var(--mb-1);
  padding: 0 auto;
}

/* MENU */

.menu-container {
  border: 1px solid;
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding-right: 0;
}

.search-box {
  border-right: 1px solid;
  text-align: center;
}

.search {
  border: none;
  height: 30px;
  font-size: var(--xs-font-size);
  width: 100%;
}

.search::placeholder {
  font-size: var(--s-font-size);
  font-weight: var(--font-bold);
  color: black;
  text-align: center;
}

.search:hover {
  cursor: pointer;
}

/* add style when clicked */

.champ-filter-container > button {
  display: none;
}

.champ-filter {
  display: flex;
  justify-content: space-evenly;
}

.champ-filter > li {
  margin-right: 15px;
}

.champ-filter > li:first-child {
  margin-left: 15px;
}

.champ-filter > li > button {
  cursor: pointer;
  background: none;
  border: none;
  color: rgba(194, 189, 189, 0.877);
  font-size: var(--xs-font-size);
  font-weight: var(--font-bold);
}

.champ-filter > li > button:hover {
  border-bottom: 2px solid orange;
  color: black;
  padding-bottom: 2px;
}

.champ-filter > li > button:focus {
  border-bottom: 2px solid orange;
  color: black;
  padding-bottom: 2px;
}

/* Add style when selected */

/* CHAMPION CARDS */

.champs-container {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: var(--mb-3);
  column-gap: var(--mb-3);
  margin-bottom: var(--mb-5);
}

.champ-card {
  background-color: var(--card-bg-color);
  padding: var(--mb-3);
}

.champ-card:hover {
  cursor: pointer;
}

.champ-card:hover .champ-name {
  color: orange;
}

.img-container {
  margin-bottom: var(--mb-3);
}

[style*="--aspect-ratio"] > :first-child {
  width: 100%;
}
[style*="--aspect-ratio"] > img {  
  height: auto;
} 
@supports (--custom:property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }
  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }  
  [style*="--aspect-ratio"] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }  
}

.champ-name {
  font-weight: var(--font-very-bold);
  font-size: var(--l-font-size);
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  text-align: right;
  transition: color ease-in-out 1s;
}

.champ-title {
  font-style: italic;
  font-size: var(--xs-font-size);
  font-family: 'Cinzel', serif;
  letter-spacing: 0.18rem;
  text-align: right;
}

.champ-stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: var(--mb-3);
  row-gap: var(--mb-2);
}

.champ-stat {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.champ-roles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: var(--mb-1);
  margin-top: var(--mb-2);
}

/* ============================= CHAMP PAGE ============================= */

.champ-page-container {
  max-width: 1440px;
  color: white;
  background-color: var(--card-bg-color);
  margin: 0;
  color: var(--primary-color);
}

/* CHAMP BANNER */

.champ-banner {
  display: flex;
  justify-content: center;
}

.champ-banner-info {
  background-image: linear-gradient(to bottom, rgba(0,0,0, 0.05), rgba(0,0,0,1));
  height: 100%;
  width: 100%;
}

.champ-banner img {
  width: 100%;
}

.champ-banner-info h1 {
  font-weight: var(--font-very-bold);
  font-size: 6em;
  text-transform: uppercase;
  letter-spacing: 1rem;
  text-align: center;
  font-family: 'Cinzel', serif;
  margin: -30px 0;
}

.champ-banner-info h2 {
  font-style: italic;
  font-size: 1.5em;
  font-family: 'Cinzel', serif;
  letter-spacing: 0.1rem;
  text-align: center;
  text-transform: capitalize;
}

.champ-lore p {
  text-align: center;
  font-size: var(--m-font-size);
  padding: var(--mb-4) 5rem;
}

/* CHAMP ABILITIES */

.champ-ability li {
  display: grid;
  grid-template-columns: 1fr 7fr;
  align-items: center;
  grid-column-gap: var(--mb-1);
  margin-bottom: var(--mb-5);
}

.champ-ability li p {
  text-transform: uppercase;
  font-size: var(--l-font-size);
  font-weight: var(--font-bold);
  color: white;
}

.champ-ability li div {
  font-size: var(--m-font-size);
}

.champ-ability img {
  width: 10vw;
}

.champ-abilities h1, .champ-skins h1 {
  font-size: 3em;
  letter-spacing: 0.3rem;
  color: white;
  font-style: italic;
  font-family: 'Cinzel', serif;
  margin-bottom: var(--mb-3);
}

/* SKINS */

.champ-skins {
  position: relative;
}

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: calc((2/3)*100%);
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 100ms opacity ease-in-out;
  transition-delay: 100ms;
  padding-bottom: 4rem;
}

.slide.active {
  opacity: 1;
  transition-delay: 0;
}

.carousel-button {
  position: absolute;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  z-index: 2;
  color: rgba(255,255,255,0.5);
  cursor: pointer;
  transform: translateY(-50%);
}

.carousel-button:hover {
  color: white;
}

.prev {
  left: 2rem;
}

.next {
  right: 2rem;
}

.slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.skin-name {
  position: relative;
  transform: translateY(0);
  opacity: 0;
}

.skin-name.active {
  transform: translateY(-100%);
  z-index: 100;
  text-transform: uppercase;
  font-size: 3em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  opacity: 1;
}



/* ============================= MOBILE RESPONSIVE ============================= */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .champs-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Large devices (laptops/desktops, 992px and smaller)*/
@media only screen and (max-width: 992px) {
  
  .menu-container {
    grid-template-columns: 1fr 2fr;
  }

  .champs-container {
    grid-template-columns: 1fr 1fr;
  }

  .banner-item-big {
    letter-spacing: 0.4rem;
    font-style: italic;
  }
  
  .banner-item-big > span {
    font-size: 5rem;
  }

  .navbar-brand {
    letter-spacing: 1rem;
    font-size: calc(1.2*var(--xl-font-size));
  }

  .champ-filter-container > button {
    display: block;
  }

  .champ-filter {
    display: block;
  }

  .champ-filter li:first-child { 
    margin: 0;
  }

  .champ-filter li { 
    margin: var(--mb-1) 0;
    padding: var(--mb-1) 0;
  }

  .champ-filter > li > button {
    width: 100%;
  }

  .champ-filter > li > button:hover {
    border-bottom: none;
  }
  
  .champ-filter > li > button:focus {
    border-bottom: none;
  }

  .champ-filter-container {
    position: relative;
    text-align: center;
    font-size: var(--s-font-size);
    font-weight: var(--font-bold);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .champ-filter-container > button > span {
    font-size: var(--s-font-size);
    font-weight: var(--font-bold);
    color: black;
  }

  .champ-filter-container > button {
    background: none;
    border: none;
    width: 100%;
  }

  .champ-filter-menu {
    background: white;
    position: absolute;
    top: 31px;
    width: 100.5%;
    box-shadow: 0 1px rgba(0, 0, 0, 0.3);
    border: 1px solid black;
    border-top: none;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s ease;
  }

  .champ-filter-menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    z-index: 100;
  }

  .champ-filter-menu li:hover {
    background-color: rgba(194, 189, 189, 0.877);
    z-index: -1;
  }

  .champ-ability li {
    grid-template-columns: 2fr 7fr;
  }

  .champ-ability li img {
    width: 25vw;
  }


  .champ-banner-info h1 {
    font-weight: var(--font-very-bold);
    font-size: 3.5em;
    margin: 5px 0;
  }

}

/* Medium devices (landscape tablets, 768px and smaller) */
@media only screen and (max-width: 768px) {
  .champs-container {
    grid-template-columns: 1fr 1fr;
  }

  .banner-item-big {
    letter-spacing: 0.3rem;
    font-style: italic;
  }
  
  .banner-item-big > span {
    font-size: 4rem;
  }

  .navbar-brand {
    letter-spacing: 1rem;
    font-size: calc(var(--xl-font-size));
  }

  .carousel-button {
    font-size: 3rem;
  }

  .champ-abilities h1, .champ-skins h1 {
    font-size: 2em;
  }

}

@media only screen and (max-width: 600px) {
  .champs-container {
    grid-template-columns: 1fr;
  }

  .banner-item-big {
    letter-spacing: 0.2rem;
    font-style: italic;
  }
  
  .banner-item-big > span {
    font-size: 3rem;
  }

  .champ-banner-info h1 {
    font-weight: var(--font-very-bold);
    font-size: 2em;
    margin: 5px 0;
  }

  .champ-lore p {
    font-size: var(--sm-font-size);
    padding: var(--mb-2);
  }

  .champ-ability li {
    grid-template-columns: 2fr 5fr;
  }

  .champ-ability li p {
    font-size: var(--sm-font-size);
  }

  .champ-ability li div {
    font-size: var(--sm-font-size);
  }

  .carousel-button {
    font-size: 3rem;
  }

  .skin-name.active {
    font-size: 1.5em;
  }

}


